body {
  background: #0f0a18;
}

.App {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.form img {
  width: 3.5rem;
  margin: 0.2rem;
}

input,
select {
  background: transparent;
  width: 15rem;
  padding: 8px 5px;
  margin: 0.3rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #f1c95c;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

select {
  color: gray;
  width: 15.7rem;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.7rem 3em;
  margin: 8px;
  background: #81b0f1;
  color: #0f0a19;
  font-weight: bold;
}

.cards {
  /* border: 3px solid green; */
  padding: 0.5rem 2rem;
}

.card-animals {
  max-width: 15rem;
  border: 2px solid #e59bbf;
  border-radius: 8px;
  margin: 1rem;
  text-align: center;

  color: white;
  align-items: center;
  padding: 0.2rem;
}

li {
  list-style: none;
}
